<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.moon.library.mapper.ReaderMapper">
    <!--     获取所有读者-->
    <select id="getAllReader" resultType="Reader">
        select * from reader_info
    </select>

    <!--    获取读者名称-->
    <select id="getReaderName" resultType="String">
        select name from reader_info where reader_id = #{readerId}
    </select>

    <!--   获取读者信息 -->
    <select id="getReaderInfo" resultType="Reader">
        select * from reader_info where reader_id = #{readerId}
    </select>
    <!--    更新读者信息-->
    <update id="updateInfo" parameterType="Reader">
        update reader_info set name = #{name}, sex = #{sex}, address = #{address}, birth = #{birth}, telcode = #{telcode}
        where reader_id = #{readerId}
    </update>
</mapper>